---
layout: page
---
{% assign mentors = site.mentors | where_exp: "mentor", "page.mentors contains mentor.display_name" %}

<div class="course">
  {% if page.image %}
    <img class="title-image" src="{{ site.url }}/{{ page.image }}" alt="{{ page.title }}">
  {% endif %}

  <div class="heading">
    <h1 class="title">{{ page.title }}</h1>
    <h3 class="subtitle">{{ page.subtitle }}</h3>

    {% if page.start_date %}
      <span class="start-date">Starts {{ page.start_date | date: '%B %d, %Y' }}</span>
    {% endif %}

    {% if mentors.size > 0 %}
      <div class="mentors">
        {% for mentor in mentors %}
          <a class="mentor" href="{{ mentor.url }}">
            <img class="mentor-image" src="{{ mentor.image }}" alt="mentor image"/>
            <p class="mentor-name">{{ mentor.display_name }}</p>
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if site.show-tags %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {{ content }}

  {% if page.price_id %}
    <div class="checkout-container">
      <div class="content">
        <h3 class="price">${{ page.price }}</h3>
        <button class="checkout" role="link" type="button">Purchase {{ page.title }}</button>
      </div>
    </div>
  {% endif %}

  <div id="error-message"></div>

  {% include related-courses.liquid %}

  {% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
  {% endif %}

  {% raw %}
  <script type="application/javascript">
    (function () {
      {% endraw %}
      var stripe = Stripe("{{ site.stripe }}");
      var priceId = "{% if jekyll.environment == 'production' %}{{ page.price_id }}{% else %}{{ page.price_id_test }}{% endif %}";
      {% raw %}
      document.querySelectorAll('.checkout').forEach(item => {
        item.addEventListener('click', function () {
          stripe.redirectToCheckout({
            lineItems: [{price: priceId, quantity: 1}],
            mode: 'payment',
            successUrl: window.location.origin + '/checkout/success',
            cancelUrl: window.location.href
          })
          .then(function (result) {

            if (result.error) {
              var displayError = document.getElementById('error-message');
              displayError.textContent = result.error.message;
            }
          });
        });
      })
    })();
  </script>
  {% endraw %}
</div>
