---
layout: page
---
{% assign courses = site.courses | where_exp: "course", "course.mentors contains page.display_name" %}

<div class="mentor">
  {% if page.image %}
    <img class="title-image" src="{{ site.url }}/{{ page.image }}" alt="{{ page.title }}">
  {% endif %}

  <div class="title">{{ page.title }}</div>
  <div class="subtitle">{{ page.subtitle }}</div>

  {% if site.show-tags %}
    <div class="post-tags">
      {% for tag in page.tags %}
        <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if courses.size > 0 %}
    <hr/>
    <h3>Courses</h3>
    <div class="courses">
      {% for course in courses %}
        <a class="course" href="{{ course.url }}">
          <img class="course-image" src="{{ course.image }}" alt="course image"/>
          <p class="course-name">{{ course.title }}</p>
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <hr/>

  {{ content }}

  {% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
  {% endif %}

</div>
